
body {
margin: 0; 
padding: 0; 
font-family: "Times New Roman",Times, sans-serif;
background-color: mistyrose; 
}
.header{
background-color: linen; 
padding: 1vh; 
display: flex; 
justify-content: space-between; 
align-items: center; 
}
.logo{
font-size: 24px; 
font-weight: bold;
width: 8vh; 
height: auto; 
}
.container{
display: flex; 
align-items: center;
justify-content: center;
padding: 0px 50px; 
height: 100vh; 
}
.image{
flex: 1; 
background: url('') no-repreat center center; 
background-size: cover; 
height: 100%; 
}
.text{
flex: 1; 
background-color: linen; 
overflow-y: scroll;
justify-content: center; 
max-height: 100%; 
padding: 0 2vh;
}
.headshot{
flex: 1; 
max-width: 100%; 
height: auto; 
}
p {
font-size: 2vh;
}
a {
padding: 0 2vh;
}
