.parent{
	display: block;
}
.child{
	display: flex;
	justify-content: center; 
	align-items: center;
	margin: 0 auto; 
}
.container{
	display: flex;
	justify-content: center; 
	align-items: center; 
	padding: 10px; 
}
.sliderValue{
	display: flex;
	justify-content: center; 
	align-items: center;
}
body{
	height: 100%; 
	margin: 0; 
	padding: 0; 
	background-color: lavenderblush;
}
.text{
	font-family: "Times New Roman", Times, sans-serif;
       	font-size: 2vh;
	width: 50%; 
	text-align: center; 
}
.custom-button{
	padding: 1vh 5vh; 
	border-radius: 10vh; 
	background-color: brown;
	color: #fff; 
	font-size: 2vh; 
	border: none; 
	cursor: pointer; 
}
.header{
background-color: linen; 
padding: 1vh; 
display: flex; 
justify-content: space-between; 
align-items: center; 
}
.logo{
font-size: 24px; 
font-weight: bold;
width: 8vh; 
height: auto; 
}
a {
padding: 0 2vh;
}
canvas {
height: 80vh; 
width: auto; 
}
